<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Card Levels</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="level" (ngSubmit)="addLevel()" [hidden]="editLevel._id!=undefined">
    <ion-item>
      <ion-label floating>Level Name</ion-label>
      <ion-input type="text" formControlName="code"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Can have background images</ion-label>
      <ion-checkbox color="secondary" formControlName="canHaveImages" checked="false"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Can have categories</ion-label>
      <ion-checkbox color="secondary" formControlName="canHaveCategories" checked="false"></ion-checkbox>
    </ion-item>
    <button small ion-button color="secondary" type="submit" [disabled]="!level.valid" style="float:right;">Add Level
      <ion-icon name="add"></ion-icon>
    </button>
  </form>

  <form (ngSubmit)="updateLevel()" [hidden]="editLevel._id==undefined">
    <ion-input type="hidden" name="id" [(ngModel)]="editLevel._id"></ion-input>
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input type="text" [(ngModel)]="editLevel.code" name="code"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Can have background images</ion-label>
      <ion-checkbox color="secondary" name="canHaveImages" [checked]="editLevel.canHaveImages"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Can have categories</ion-label>
      <ion-checkbox color="secondary" name="canHaveCategories" [checked]="editLevel.canHaveCategories"></ion-checkbox>
    </ion-item>
    <button ion-button style="float:right;" type="button" color="danger" (click)="CancelUpdate()">Cancel</button>
    <button ion-button style="float:right;" type="submit" color="secondary" [disabled]="editLevel.code == ''">Update</button>
  </form>

  <ion-list style="margin-top:15px;">
    <ion-item-sliding *ngFor="let item of levels">
      <ion-item>
        <label>{{item.code}}</label>
        <ion-badge item-end  *ngIf="item.canHaveImages" color="secondary">I</ion-badge>
        <ion-badge item-end  *ngIf="item.canHaveCategories" color="primary">C</ion-badge>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="primary" (click)="EditLevel(item)">
          <ion-icon name="create"></ion-icon>
        </button>
        <button ion-button color="danger" (click)="DeleteLevel(item)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>