page-preview-canvas {
    .roundPanel{
        margin-bottom:25px;
    }
    .card-container {
        height: 75vh;
        width: 75vw;
        margin: auto;
    }
    sc-card{
        border-radius: 4px;
    }
    .user_img {
        display: block;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}
